<!--want a link here to "Create a New User" -->
<h4>Sign in</h4>
<%= form_for @user do |u| %>
  <%= u.label :email %>
  <%= u.text_field :email %>
    <br><br>
  <%= u.label :password %>
  <%= u.password_field :password %>
    <br><br>
  <%= u.submit %>
<% end %>

<%= link_to "Or sign in with Facebook", '/auth/facebook' %>
