<!--want a link here to "Create a New User" -->
<h4>Sign in</h4>

<% if flash[:error] %>
  <p class="error-display"><%= flash[:error] %></p>
<% end %>

<%= form_for :user do |u| %>
  <%= u.label :email %>
  <%= u.text_field :email %>
    <br><br>
  <%= u.label :password %>
  <%= u.password_field :password %>
    <br><br>
  <%= u.submit 'Log In'%>
<% end %>

<%= button_to "Or sign in with Google", '/auth/google_oauth2' %>

<br><br>

<%= link_to "New Here?", new_user_path %>
