<h1><%= @user.name %>'s Clippings</h1>
<% @clippings.each do |c|%>
  <%= Plant.find(c.plant_id).name %>
  <%if c.rating.empty? && if @user === current_user%>
    <%= DISPLAY NEW RATING FORM %>
  <% else %>
    <%= c.rating %>
  <% end %>
<% end %>


<% if @user === current_user %>
  <div = "new-clipping">
    <p>Got room in your garden for a little more?</p>
    <p>Clip a new plant:</p>
    <%=form_for :clipping, :url => user_clippings_path do |c|%>
      <%= c.collection_select :plant_name, Plant.all, :id, :name %><br><br>
      <%= c.submit "Add This Clipping"%>
    <% end %>
  </div>
<% end %>
