<h1><%= @garden.name %>'s Clippings</h1>

<%= link_to "Browse Plants", plants_path %><br><br>
<hr>

<% @clippings.each do |c|%>
  <%= link_to Plant.find(c.plant_id).name, plant_path(c.plant) %>
  <%if !c.rating && @user === @cuser%>
    <%= form_for c, :url => garden_clipping_path(c.garden_id, c.id) do |f| %>
      <%= f.label :rating %>
      <%= f.number_field :rating, in: 1...11 %>
      <%= f.submit %>
    <% end %>
  <% else %>
    <p>Your Rating: <%= c.rating %></p>
    <br>
  <% end %>
<% end %>
<hr>
<% if @user === @cuser %>
  <div = "new-clipping">
    <p>Got room in your garden for a little more?</p>
    <p>Clip a new plant:</p>
    <%=form_for :clipping, :url => garden_clippings_path, :action => "post" do |c|%>
      <%= c.collection_select :plant_id, Plant.all, :id, :name %><br><br>
      <%= c.submit "Add This Clipping"%>
    <% end %>
  </div>
<% end %>
