<h3>Sign up here to use Tillio</h3>

<%= form_for @user do |u| %>
  <%= u.label :name %>
  <%= u.text_field :name %>
  <br><br>
  <%= u.label :email %>
  <%= u.text_field :email %>
  <br><br>
  <%= u.label :password %>
  <%= u.password_field :password %>
  <br><br>
  <%= u.submit %>
<% end %>
