<% if params[:action] === "index"%>
  <h1>Browsing All Plants</h1>
<% else %>
  <h1>Browsing <%= params[:action] %></h1>
<% end %>

<% @plants.each do |p|%>
  <div='plant'>
    <h3><%= link_to p.name, plant_path(p) %></h3>
  </div>
<% end %>
<hr>
<div="new-plant">
  <h3>Got something new to share? Add a plant below!</h3>
  <p>All fields are not required, but fill in as much as you know. The more robust, the better future gardeners can grow!</p>
  <%= form_for :plant, :url => plants_path do |p| %>
    <%= p.label :name%>
    <%= p.text_field :name %>
    <br><br>
    <%= p.label :kind%>
    <%= p.text_field :kind %>
    <br><br>
    <%= p.label :landscape_categories%>
    <%= p.text_field :landscape_categories %>
    <br><br>
    <%= p.label :description%>
    <%= p.text_area :description %>
    <br><br>
    <%= p.label :zone%>
    <%= p.number_field :zone %>
    <br><br>
    <%= p.label :height%>
    <%= p.text_field :height %>
    <br><br>
    <%= p.label :bloom_time%>
    <%= p.text_field :bloom_time %>
    <br><br>
    <%= p.label :flower_color%>
    <%= p.text_field :flower_color %>
    <br><br>
    <%= p.label :light%>
    <%= p.text_field :light %>
    <br><br>
    <%= p.label :water%>
    <%= p.text_field :water %>
    <br><br>
    <%= p.label :drainage%>
    <%= p.text_field :drainage %>
    <br><br>
    <%= p.label :growth_rate%>
    <%= p.text_field :growth_rate %>
    <br><br>
    <%= p.label :maintenance%>
    <%= p.text_field :maintenance %>
    <br><br>
    <%= p.label :susceptibility%>
    <%= p.text_field :susceptibility %>
    <br><br><br>
    <%= p.submit %>
  <% end %>
</div>

<%= button_to "Log Out", logout_path %>
