<h3><%= @p.name %></h3>
<h5><%= @p.kind %> - <%= @p.landscape_categories %></h5>

<p>Description: <%= @p.description %></p>

<p>Zone: <%= @p.zone %></p>
<p>Light: <%= @p.light %></p>
<p>Water: <%= @p.water %></p>
<p>Growth Rate: <%= @p.growth_rate %></p>
<p>Maintenance: <%= @p.maintenance %></p>

<hr>
<div id="see_in_action">
  <%= link_to "See This Plant in Action", plant_gardens_path(@p), :id => "plant_gardens" %>
  <div id="plantGardensList">
  </div>
</div>

<hr>
<%= form_for :clipping, :url => clippings_path do |c| %>
  <h2>Fallen for this plant?</h2>
  <%= c.hidden_field :plant_id, value: @p.id %>
  Pick a Garden to Add It To!<br>
  <%= c.collection_select :garden_id, @user_gardens, :id, :name %><br>
  <%= c.submit "Clip this one!"%>
<% end %>
<br><br>
<hr>
<%= link_to "Back to All Plants", plants_path %>
