<ul id="gardensList">
<% @gardens.each do |garden|%>
  <li>
    <%= garden.name %>
  </li>
<% end %>
</ul>
<hr>
<h2>Make a New Garden</h2>
<%= form_for(@garden, :url => user_gardens_path(@current_user)) do |g|%>
  <%= g.label :name%>
  <%= g.text_field :name %><br>

  <ul>
  <%= g.fields_for :clippings do |clipping| %>
    Add a clipping:
    <li>
      <%= clipping.collection_select :plant_id, Plant.all, :id, :name %><br>
    </li>
  <% end %>
  </ul>

  <%= g.submit %>
<% end %>
