<ul id="gardensList">
<% @gardens.each do |garden|%>
  <li id=`garden-${garden.id}-details`>
    <%= link_to garden.name, garden_path(garden) %>
  </li>
<% end %>
</ul>
<hr>
<h2>Make a New Garden</h2>
<%= form_for([@current_user, @garden]) do |g|%>
  <%= g.label :name%>
  <%= g.text_field :name %><br>
  <%= g.hidden_field :user_id, value: @current_user.id %>

  <%= g.submit "Start a Garden", id: "new_garden_submit"%>
<% end %>
