<h1><%= @garden.name %></h1>

<!-- Add a rating AJAX form -->
<h2>Clippings: </h2>
<ul id="gardenClippings">
  <% @garden.clippings.each do |c| %>
    <li>
      <h3><%= c.plant.name%> - <%= link_to "Learn More", plant_path(c.plant), :class => "plant-details"%></h3>
      <%if !c.rating && @user === @cuser%>
        <%= form_for c, :url => garden_clipping_path(c.garden_id, c.id) do |f| %>
            <%= f.label :rating %>
            <%= f.number_field :rating, in: 1...11 %>
            <%= f.submit %>
          <% end %>
        <% else %>
          <p>Rating: <%= c.rating %></p>
          <br>
        <% end %>
      <div class='plant-info'>
        <h4 id="plantKind-<%=c.plant.id%>"></h4>
        <p id="plantLight-<%=c.plant.id%>"></p>
        <p id="plantWater-<%=c.plant.id%>"></p>
        <p id="plantZone-<%=c.plant.id%>"></p>
        <p id="plantCategories-<%=c.plant.id%>"></p>
      </div>
    </li>
  <% end %>
</ul>


<!-- Add a new AJAX Form to add clippings to garden -->
<hr>
<h3>Got room in your garden for a little more?</h3>
<%=form_for :clipping, :url => clippings_path, :html => { :id => "new_clipping" } do |c|%>
  <%= c.hidden_field :garden_id, value: @garden.id %>
  <%= c.collection_select :plant_id, Plant.all, :id, :name %>
  <%= c.submit "Add"%>
<% end %>
