<h1><%= @garden.name %></h1>

<!-- Add a rating AJAX form -->
<h2>Clippings: </h2>
<ul id="gardenClippings">
  <% @garden.clippings.each do |c| %>
    <li>
      <h3><%= c.plant.name %> - <%= link_to "Learn More", plant_path(c.plant), :class => "plant-details"%></h3>
      <%if !c.rating && @user === @cuser%>
        <%= form_for c, :url => garden_clipping_path(c.garden_id, c.id) do |f| %>
            <%= f.label :rating %>
            <%= f.number_field :rating, in: 1...11 %>
            <%= f.submit %>
          <% end %>
        <% else %>
          <p>Rating: <%= c.rating %></p>
        <% end %>
      <div id='plant-info-<%=c.plant.id%>'></div>
    </li>
  <% end %>
</ul>
