<h1><%= @garden.name %></h1>

<h2>Clippings: </h2>
<ul>
  <% @garden.clippings.each do |c| %>
    <li>
      <h3><%= c.plant.name%> - Rating: <%- c.rating %> - <%= link_to "Learn More", plant_path(c.plant), :class => "plant-details"%></h3>
      <div class='plant-info'>
        <h4 id="plantKind-<%=c.plant.id%>"></h4>
        <p id="plantLight-<%=c.plant.id%>"></p>
        <p id="plantWater-<%=c.plant.id%>"></p>
        <p id="plantZone-<%=c.plant.id%>"></p>
        <p id="plantCategories-<%=c.plant.id%>"></p>
      </div>
    </li>
  <% end %>
</ul>
