<!DOCTYPE html>
<html>
<head>
  <title>Tillio</title>
  <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_include_tag "application" %>
</head>
<body>
  <div class="nav">
    <a href="http://localhost:3000/"><%= image_tag "Tillio.jpg" %></a><br>
    <%= link_to "All Plants", plants_path %>
    <% @kinds.each do |k|%>
      <%= link_to k, plant_kinds_path(k) %>
    <% end %>
    <%= button_to "Log Out", logout_path %>
  </div>

  <%= yield %>

</body>
